# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/minas-na-unicamp-front/dist
/minas-na-unicamp-front/tmp
/minas-na-unicamp-front/out-tsc
# Only exists if Bazel was run
/minas-na-unicamp-front/bazel-out

# dependencies
/minas-na-unicamp-front/node_modules

# profiling files
/minas-na-unicamp-front/chrome-profiler-events*.json
/minas-na-unicamp-front/speed-measure-plugin*.json

# IDEs and editors
/minas-na-unicamp-front/.idea
/minas-na-unicamp-front/.project
/minas-na-unicamp-front/.classpath
.c9/
/minas-na-unicamp-front/*.launch
/minas-na-unicamp-front/.settings/
/minas-na-unicamp-front/*.sublime-workspace

# IDE - VSCode
/minas-na-unicamp-front/.vscode/*
!/minas-na-unicamp-front/.vscode/settings.json
!/minas-na-unicamp-front/.vscode/tasks.json
!/minas-na-unicamp-front/.vscode/launch.json
!/minas-na-unicamp-front/.vscode/extensions.json
./minas-na-unicamp-front/history/*

# misc
/minas-na-unicamp-front/.sass-cache
/minas-na-unicamp-front/connect.lock
/minas-na-unicamp-front/coverage
/minas-na-unicamp-front/libpeerconnection.log
/minas-na-unicamp-front/npm-debug.log
/minas-na-unicamp-front/yarn-error.log
/minas-na-unicamp-front/testem.log
/minas-na-unicamp-front/typings

# System Files
.DS_Store
Thumbs.db
