<div class="row">
  <div class="col-6 grid-text">
    <h1 style="font-family: Montserrat, 'Helvetica Neue', sans-serif;">Boas-Vindas ao nosso site!</h1>
    <p align="justify">
      Nós somos um grupo de alunas da graduação e acreditamos na importância de um sistema eficiente, que acolha e proteja vítimas de
      violência no campus e arredores, principalmente mulheres e com foco na violência sexual. Por isso, criamos esse projeto para disciplina de MC426 - Engenharia de Software, e temos como objetivos além de
      facilitar as denúncias, colaborar com a segurança no ambiente universitário – seja no campus ou em eventos promovidos por entidades da
      UNICAMP, facilitar o acesso a informações e modelar dados de acordo com denúncias preexistentes. <br />Mas você pode estar se
      perguntando: Que informações? Como assim modelar dados? Como eu posso ajudar esse projeto super legal? <br />
      Bom, o site vai funcionar da seguinte maneira, na aba "Informações" você vai poder saber um pouco mais do que já tá rolando na
      Unicamp, o que você pode utilizar para denunciar e até mesmo se proteger em alguma situação emergencial, além de buscar informações
      sobre “O que é assédio?”. <br />
      Na aba “Estatísticas”, você vai poder consultar algumas estatísticas que fizemos a partir de informações (dados) que adquirimos através
      de um formulário postado no grupo da UNICAMP.
     <br />Finalmente, se você achou o projeto bacana e quer ajudar – esperamos que sim,
      por favor, preencha o formulário que deixamos disponível e nos conte um pouco mais sobre sua vivência.
    </p>
  </div>
  <div class="col-6 grid-image">
    <img src="../../assets/img/2164466.jpg" alt="homepage image" />
  </div>
</div>
