<div class="row">
  <div class="col-6 grid-text">
    <h1 style="font-family: Montserrat, 'Helvetica Neue', sans-serif">Boas-Vindas a nossa aba de informações!</h1>
    <p align=justify>Nossa página ainda está em construção mas você já pode conferir a cartilha sobre violência sexual preparada pelo  <b><a href="http://www.direitoshumanos.unicamp.br/observatorio-de-direitos-humanos-0" style="color: #6A5ACD;" >Observatório de Direitos Humanos</a></b> em parceria com o <b><a href="https://www2.comvest.unicamp.br/" style="color: #6A5ACD;" >Savs (Serviço de Apoio a Violência Sexual)</a></b> clicando <b><a href="http://www.direitoshumanos.unicamp.br/sites/default/files/2020-03/Guia%20sobre%20viol%C3%AAncia%20sexual.pdf" style="color: #6A5ACD;">aqui</a></b>.
    <br> A cartilha é excelente e traz informações super importantes sobre: o que se enquadra como violência sexual, como proceder após um episódio de violência sexual, o que o Savs pode fazer por você, telefones úteis, etc.
    <br> Além disso, você pode baixar o Botão do Pânico que possibilita acionar a Segurança do Campus da Unicamp, CPQBA, Moradia Estudantil e LUME. Em situações de emergência, você pode utilizar o aplicativo para enviar à Central de Segurança da Unicamp as coordenadas GPS (latitude e longitude) registradas pelo celular, e o vigilante mais próximo é avisado. 
    <br> Vale ressaltar que o App também pode ser utilizado fora do campus, entretanto, ferramenta oferecerá a opção de acionar a Polícia Militar. 
    <br> Caso tenha se interessado, o aplicativo está disponível nas plataformas para Android e IOS.
    
    </p>
  </div>
  <div class="col-6 grid-image">
    <img src="../../assets/img/2164466.jpg" alt="homepage image">
  </div>
</div>
