<form (submit)="forgotPassword()" class="reset-box">
  <div class="card--reset">
    <p style="text-align: center">Por favor insira seu email para<br>requisitar a redefinição de senha.</p>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput name="email" [(ngModel)]="email">
      </mat-form-field>
    </div>
  </div>
  <button type="submit" class="button--reset" [disabled]="email == null || email == ''">Redefinir Senha</button>
  <a class="login" routerLink="../login">Fazer Login</a>
</form>
