<div class="content">
    <div class="row">
        <div class="col-12">
            <h1 style="font-family: Montserrat, 'Helvetica Neue', sans-serif">Dados sobre Percepção de Segurança no Campus</h1>
            <div class="row justify-content-center">
                    <div style="height:300px; width: 300px;"class="col-6" id="chart"></div>
                    <div style="height:300px; width: 300px;"class="col-6" id="chart2"></div>
                    <div style="height:300px; width: 300px;"class="col-6" id="chart3"></div>
            </div> 
        </div>
    </div>

</div>