<form (submit)="tryRegister()" class="register-box">
  <div class="card--register">
    <div>
      <mat-form-field appearance="outline">
      <mat-label>Email address</mat-label>
      <input matInput type="email" name="email" [(ngModel)]="user.email" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" name="password" [(ngModel)]="user.password" required>
      </mat-form-field>
      <label class="error">{{errorMessage}}</label>
      <label class="success">{{successMessage}}</label>
    </div>
  </div>
  <button type="submit" class="button--register" [disabled]="isEmpty()">Criar nova conta</button>
  <a href="" class="login" routerLink="../login">Fazer login</a>
</form>
